@import '../main.css';

body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--colore-bordo);
    text-align: center;
}

.dispari { background-color: var(--colore-accento); color: #fff; }
.pari { background-color: #fff; }

div {
    display: flex;
    justify-content: center;
    align-items: center;
}
